/* .region.bottom.left {
	width: 700px;
} */

.table{
    width: 1200px;
}

.tbody{
    width: 1200px;
}

.namecell{

    padding-right: 5px;
    width: 200px;
    text-align: left;
    display: table-cell;
}

.valuecell{
    padding-left: 3px;
    width: 1000px;
    text-align: left;
    display: table-cell;
}
